<h1>Books</h1>

<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>
 
  <% @book.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= link_to 'Show', book_path(book) %></td>
    </tr>
  <% end %>
</table>